[Unit]
Description=Garage Sensor Service

[Service]
ExecStart=/bin/bash start.sh
WorkingDirectory=/home/pi/src/garage
StandardOutput=null
#Restart=Always

[Install]
WantedBy=multi-user.target
Alias=garage.service
